header {
    padding: 130px 0 80px;
    margin-top: 56px;
}

.masthead {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-image: url(../img/header2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    padding: 80px 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border: 0;
    padding: 0px 5px 5px 2px;
    color: #9d9d9d;
    background-color: #9d9d9d;
}

.dropdown-item {
    color: #9d9d9d;
}

.dropdown-item:hover {
    color: rgba(255, 255, 255, .75);
    background-color: inherit;
}

iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 125%;
    height: 125%;
    left: 0px;
    border: 0px;
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


/*
iframe
{
    width: 1280px;
    height: 786px;
    border: 0;

    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
*/

iframe {
    margin-top: 56px
}


/*mobile devices*/

@media (max-width: 680px) {
    .masthead {
        width: 100%;
        height: 0px
    }
    .container {
        padding: 015x
    }
}